[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mechanize = ">=0.4.8"
beautifulsoup4 = ">=4.11.0"

[dev-packages]
black = "*"
flake8 = "*"
pytest = ">=7.0.0"

[requires]
python_version = "3.9"
